<div class="currency" title="Изменить валюту" id="change-currency" (click)="changeCurrency()">{{currency}}</div>
    <header class="header">
      <div class="container">
        <div class="header__logo">
          <img class="header__logo-img" src="./assets/images/logo.png" alt="Логотип" />
        </div>
        <nav class="header__menu">
          <ul class="header__menu-list">
            <li class="header__menu-item"><a class="header__menu-item--link" (click)="scrollTo(products)">Каталог</a></li>
            <li class="header__menu-item"><a class="header__menu-item--link" (click)="scrollTo(love)">О нас</a></li>
            <li class="header__menu-item"><a class="header__menu-item--link" (click)="scrollTo(order)">Оформление заказа</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section class="main__content">
      <div class="container">
        <img class="main__line" src="./assets/images/line1.png" alt="Line" />
        <div class="main__info">
          <h1 class="main__title">Магия вкуса в каждой крошке</h1>
          <p class="main__text">
            Наши рецепты вдыхают жизнь в изысканность ингредиентов: ароматное натуральное масло, свежие сливки, чистый мёд и отборная мука. Мы тщательно отбираем каждый компонент премиального печенья,
            стремясь подарить вам истинное кулинарное наслаждение.
          </p>
          <div class="main__action">
            <button class="main__action-button button" id="main__action-button" (click)="scrollTo(products)">Заказать</button>
          </div>
        </div>
        <img class="main__image" src="./assets/images/cookie.png" alt="Cookie" />
      </div>
    </section>

    <section class="products" id="products" #products>
      <div class="container">
        <img class="products__line" src="./assets/images/line2.png" alt="Line" />
        <div class="products__common-title common__title">Выберите печенье</div>
        <div class="products__items">

          <div class="products__item" *ngFor="let product of productsData">
            <div class="products__item-image">
              <img src="{{product.image}}" alt="Картинка товара" />
            </div>
            <div class="products__item-details">
              <div class="products__item-title">{{product.title}}</div>
              <div class="products__item-text">
                {{product.text}}
              </div>
              <div class="products__item-extra">
                <div class="products__item-info">
                  <div class="products__item-price">{{product.price}} {{currency}}</div>
                  <div class="products__item-weight">{{product.weight}}</div>
                </div>
                <button class="button products__item-button" (click)="scrollTo(order, product)">Заказать</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="love" id="love" #love>
      <div class="container">
        <div class="love__title common__title">Пекарня с любовью</div>
        <div class="love__items">
          <div class="love__item love__item-white">
            <div class="love__item-title">Приготовлено с заботой, чтобы радовать вас каждый день</div>
            <div class="love__item-text">
              Мы с гордостью представляем наше печенье, которое мы выпекаем вручную каждый день с 1995 года, используя только лучшие ингредиенты. Погрузитесь в мир изысканных лакомств, приготовленных
              с применением передовых технологий, и насладитесь их неповторимым вкусом.
            </div>
          </div>
          <div class="love__item love__item-image">
            <img src="./assets/images/love.jpg" alt="With Love" />
          </div>
        </div>
      </div>
    </section>

    <section class="order" id="order" #order>
      <img class="order__line" src="./assets/images/line3.png" alt="Line" />
      <div class="container">
        <div class="order__title common__title">Закажите печенье</div>
        <img class="order__bg-image" src="./assets/images/breadcrumbs.png" alt="breadcrumbs" />
        <div class="order__block">
          <form class="order__form">
            <div class="order__form-text">Откройте для себя волшебство вкуса с нашим премиальным печеньем! Закажите прямо сейчас и окунитесь в мир сладких наслаждений.</div>
            <div class="order__form-inputs" [formGroup]="form">
              <input class="order__form-input" id="product" type="text" placeholder="Выберите печенье" formControlName="product" [class]="{'error': form.get('product')?.invalid && (form.get('product')?.dirty || form.get('product')?.touched)}" readonly/>
              <input class="order__form-input" id="name" type="text" placeholder="Ваше имя" formControlName="name" [class]="{'error': form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched)}"/>
              <input class="order__form-input" id="phone" type="text" placeholder="Ваш телефон" formControlName="phone" [class]="{'error': form.get('phone')?.invalid && (form.get('phone')?.dirty || form.get('phone')?.touched)}"/>
              <button class="button products__item-button order__item-button" id="order-action" (click)="confirmOrder($event)" [disabled]="!form.valid">Оформить заказ</button>
            </div>
          </form>
          <div class="order__block-image">
            <img class="order__image" src="./assets/images/order.png" alt="Печеньки" />
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="footer__logo">
          <img src="./assets/images/logo.png" alt="Logo" />
        </div>
        <div class="footer__copyright">«Все права защищены»</div>
      </div>
    </footer>